<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create and edit credit</title>
</head>
<body>
<form action="#" th:action="@{/credits/{path}(path=${path})}" th:object="${credit}" method="post">

    <input type="hidden" th:field="*{id}" id="id">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>

    <label for="limit">Limit: </label>
    <input type="number" min="1000" max="1000000000" th:field="*{limit}" id="limit" placeholder="Enter limit">
    <div style="color:red" th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Limit error</div>
    <br>

    <label for="percent">Percent %: </label>
    <input type="number" step="0.01" min="0.01" max="99.99" th:field="*{percent}" id="percent" placeholder="Enter percent">
    <div style="color:red" th:if="${#fields.hasErrors('percent')}" th:errors="*{percent}">Percent error</div>
    <br>

    <input type="submit" value="OK">
</form>
</body>
</html>