<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>
<h2>Credits</h2>
<a href="/credits/create">Create new credit</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Limit</th>
        <th>Percent</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="credit : ${credits}">
        <td th:text="${credit.name}"></td>
        <td th:text="${credit.limit}"></td>
        <td th:text="${credit.percent}"></td>

        <td><a th:href="@{/credits/delete/{id}(id=${credit.id})}">Delete</a></td>
        <td><a th:href="@{/credits/update/{id}(id=${credit.id})}">Update</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>