<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit credit</title>
</head>
<body>
<form action="#" th:action="@{/banks/update}" th:object="${bank}" method="post">

    <input type="hidden" th:field="*{id}" id="id">
    <input type="hidden" th:field="*{credit.id}" id="credit.id">

<!--    <input type="text" readonly th:value="${bank.getClient().firstName + ' ' + bank.getClient().lastName + ' , passport: ' + bank.getClient().passport}" id="name">-->

<!--    <label th:value="${bank.getClient().firstName + ' ' + bank.getClient().lastName + ' , passport: ' + bank.getClient().passport}"></label>-->
    <label>Select client: </label>
    <select th:field="*{client.id}">
        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.firstName + ' ' + client.lastName + ' , passport: ' + client.passport}"></option>
    </select>

    <input type="submit" value="OK">
</form>
</body>
</html>